* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #f4f8ff;
    color: #0a2540;
}

/* HERO */
/* .hero {
    height: 100vh;
    background: linear-gradient(135deg, #0a2540, #1e88e5);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    padding: 20px;
} */
/* .hero {
    min-height: 100vh;
    color: white;

    background: linear-gradient(
        180deg,
        #0a2540 0%,
        #155a9c 60%,
        #f5f8fc 100%
    );

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10%;
} */
.popup{
  display:none;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.5);

  justify-content:center;
  align-items:center;

  z-index:9999;
}

.popup-box{
  background:rgba(255, 255, 255, 0.938);
  padding:60px;
  width:500px;
  border-radius:12px;
  text-align:center;

  transform:scale(0.7);
  opacity:0;
  transition:0.3s ease;
}

.popup.show .popup-box{
  transform:scale(1);
  opacity:1;
}

.popup-box input{
  width:100%;
  padding:20px;
  width:370px;           /* bigger box */
  margin:10px 0;
  border-radius:8px;      /* rounded corners */
  border:1px solid #ccc;
  font-size:15px;
  position:relative;
}
.popup-box input:focus{
outline:none;
border-color:#2ecc71;
}
input{
  border:1px solid #ccc;
  border-radius:8px;
  padding:12px;
}

/* show red when invalid */
input:invalid{
  border:1px solid red;
}

/* hide red before interaction */
input:placeholder-shown{
  border:1px solid #ccc;
}

/* green when correct */
input:valid{
  border:1px solid #2ecc71;
}

.send-btn{
  width:100%;
  padding:12px;
  width:200px;
  border:none;
  border-radius:8px;
  background:#0a2540;     /* default button colour */
  color:white;
  font-size:15px;
  cursor:pointer;
  margin-top:25px;
  transition:0.3s;
}

.send-btn:hover{
  background:#2ecc71;     /* green hover */
}

.close{
  position:absolute;
  font-size:30px;
  top:20px;
  right:30px;
  cursor:pointer;
}

.hero{
    min-height: 100vh;
    color: white;

    background:
        /* Image layer (top) */
        linear-gradient(
            180deg,
            rgba(10, 37, 64, 0.85) 0%,
            rgba(21, 90, 156, 0.85) 50%,
            #f5f8fc 110%
        ),
        url("https://in.pinterest.com/pin/1548181184003042/");

    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10%;
}

.hero h1 {
    font-size: 3.5rem;
}

.hero p {
    font-size: 1.3rem;
    margin: 15px 0 30px;
}

.hero-buttons {
    display: flex;          /* puts buttons in one row */
    gap: 20px;              /* space between buttons */
    margin-top: 30px;
    flex-wrap: wrap;        /* responsive (mobile-safe) */
}

.hero-content {
    display: grid;
    grid-template-columns: 1fr auto;   /* left = text, right = image */
    align-items: center;
    column-gap: 60px;
}

/* text + buttons stay on left */
.hero-text,
.hero p,
.hero-buttons {
    grid-column: 1;
}
.hero {
    position: relative;   /* makes hero the reference */
}

.hero-image {
    position: absolute;
    top: 250px;            /* distance from top */
    right: 150px;          /* distance from right */
}

.hero-image img{
    width: 270px;
    height: 270px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center top;
    transform: scale(1.2);
}

@media (max-width: 768px){

.hero{
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
}

.hero-image{
    order:-1;   /* moves image to top */
    margin-bottom:20px;
}

.hero-image img{
    width:180px;
    height:180px;
}

}
.btn {
    display: inline-flex;   /* prevents full width */
    align-items: center;
    justify-content: center;

    background: white;
    color: #0a2540;
    padding: 14px 26px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    white-space: nowrap;    /* keeps text in one line */

    transition: 0.3s ease;
}

.btn:hover {
    background: rgb(32, 32, 32); 
    color: white;      
}

/* NAVBAR */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 8%;
    position: sticky;   /* key line */
    top: 0;
    z-index: 1000;
    background: white; 

    transition: transform 0.3s ease;
}

/* hidden only when allowed */
.navbar.hide{
  transform: translateY(-100%);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #252525;
    font-weight: 500;
}

.nav-links a:hover {
    color: #41414196; 
}

.connect-btn {
    background: #095da7;
    color: white;
    padding: 10px 28px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s ease;
}

.connect-btn:hover {
    background: rgb(32, 32, 32); 
    color: white;      
}

/* SECTIONS */
section {
    padding: 80px 10%;
    text-align: center;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

/* ABOUT */
.about p {
    max-width: 800px;
    margin: auto;
    font-size: 1.1rem;
    line-height: 1.7;
}

/* PROJECTS */
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}

.project-card {
    background: white;
    border-radius: 18px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform 0.3s;
}

.project-card:hover {
    transform: translateY(-10px);
}

.project-card img {
    width: 100%;
    height: 330px;
    object-fit: cover;
}

.project-card h3 {
    margin: 20px 0 10px;
    color: #1e88e5;
}

.project-card p {
    padding: 0 20px 25px;
    font-size: 0.95rem;
}

.skills {
    padding: 100px 10%;
    background: #f5f8fc;
}

.skills h2 {
    font-size: 2.5rem;
    margin-bottom: 50px;
    color: #0a2540;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
}

.skill-card {
    background: white;
    padding: 22px;
    border-radius: 14px;
    box-shadow: 0 12px 30px rgba(0,0,0,0.08);
}

.skill-card h3 {
    margin-bottom: 6px;
    color: #0a2540;
}

.skill-card p {
    font-size: 0.9rem;
    color: #777;
    margin-bottom: 12px;
}

/* Level bars */
.level {
    display: flex;
    gap: 6px;
}

.level span {
    width: 18px;
    height: 10px;
    border-radius: 3px;
    background: #dbe3ee;
}

.level span.on {
    background: #31bb0f;   /* red like reference image */
}

/* SKILLS */
/* .skills {
    max-width: 600px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

.skill-category {
    margin-bottom: 30px;
}

.skill-category h3 {
    margin-bottom: 10px;
    color: #333;
}

.skill {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.skill span {
    width: 150px;
}

.skill-bar {
    flex: 1;
    height: 15px;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
}

.skill-level {
    height: 100%;
    border-radius: 10px;
} */

/* Skill Levels */
/* .beginner {
    width: 25%;
    background-color: #ff6b6b;
}

.good {
    width: 50%;
    background-color: #ffa500;
}

.expert {
    width: 75%;
    background-color: #1e90ff;
}

.professional {
    width: 100%;
    background-color: #28a745;
} */

#topBtn{
  position:fixed;
  bottom:20px;
  right:20px;
  width:44px;
  height:44px;
  border-radius:50%;
  border:1px solid rgba(255, 255, 255, 0.781);
  background:white;
  color:black;
  font-size:20px;
  cursor:pointer;
  display:none;
  transition:0.3s;
}

#topBtn:hover{
  background:rgba(255, 255, 255, 0.781);
  color:rgba(90, 87, 87, 0.836);
}


/* CONTACT */
.contact {
    background: #0a2540;
    color: white;
    text-align: center;
}

.contact a {
    color: #90caf9;
    text-decoration: none;
    font-weight: bold;
}

.social-links a {
    margin: 0 10px;        /* spacing between icons */
    font-size: 2rem;     /* size of the symbols */
    color: rgba(255, 255, 255, 0.678);           /* default color */
    transition: transform 0.3s,color 0.3s;
}

.social-links a:hover {
    color: whitesmoke;        /* changes to blue on hover */
    transform: scale(1.2);     /*slight grow effect */
}

